<html>
    <head>
<style>
    /*ABOUT*/

.about {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 2%;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  line-height: 20px;
}

.about-col {
  transition: transform 1s;
  width: 25%;
  display: inline-block;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  position: relative;
  background: white;
  margin: 2%;
}

.about-col:hover {
  transform: scale(1.03, 1.03);
}

.image img {
  width: 50%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.about h3 {
  font-family: "Alegreya Sans SC", sans-serif;
}

.about-col p {
  padding: 3px;
  text-align: center;
  padding-top: 10px;
  border-radius: 2.8rem;
  margin: 10px;
  z-index: -1;
  font-family: "NTR", sans-serif;
  font-size: 1.2rem;
}

.heading {
  font-size: 36px;
  font-weight: 600;
  font-family: "Alegreya Sans SC", sans-serif;
}

main {
  background: url(../Images/ug.png);
  z-index: -10;
}

@media screen and (max-width: 540px) {
  .about {
    width: 95%;
    margin: auto;
  }

  .about p {
    padding: 0px;
    margin: 2px;
    font-size: 16px;
  }

  .about-col {
    width: 27%;
  }
}

@media screen and (max-width: 360px) {
  .about {
    width: 95%;
    margin: auto;
  }

  .about p {
    padding: 0px;
    margin: 1.4px;
    font-size: 15px;
    letter-spacing: -0.01rem;
  }

  .about-col {
    width: 28%;
    border-radius: 4px;
    margin: 1.3%;
  }

  .about h3 {
    font-size: 17px;
  }

  .about h1 {
    font-size: 27px;
  }
}

@media screen and (max-width: 400px) {
  .one-line {
    display: none;
  }
}

/* ABOUT ENDS */

</style>
    </head>
    <body>
        <main>
            <section id="about-us">
                <div class="about">
                    <h1 class="heading">What is this all about ?</h1> <br>
                    <p class="head-des" class="text">We solve the problem of blood emergencies by connecting <span
                            class="one-line"><br></span> blood donors directly with people in blood need. </p>
                    <div class="row">
                        <div class="about-col">
                            <div class="image">
                                <img src="./images/drop.png">
                            </div>
                            <h3>What we do ?</h3>
                            <p>We connect blood donors with recipients, without any intermediary such as blood banks, for an
                                efficient and seamless process.</p>
                        </div>
                        <div class="about-col">
                            <div class="image">
                                <img src="./images/innovation.png">
                            </div>
                            <br>
                            <h3>Innovative</h3>
                            <p>Blood Buddy is an innovative approach to address global health.We provide <span>immediate
                                    access</span> to blood donors.</p>
                        </div>
                        <div class="about-col">
                            <div class="image">
                                <img src="./images/netwotk.png">
                            </div>
                            <h3>Network</h3>
                            <p>Blood Buddy is one of several community organizations working together as a network that
                                responds to emergencies in an efficient manner.</p>
                        </div>
                        <div class="about-col">
                            <div class="image">
                                <img src="./images/noti.png">
                            </div>
                            <h3>Get notified</h3>
                            <p>Blood Buddy Connect works with network partners to connect blood donors and recipients
                                through an automated SMS service and a mobile app.</p>
                        </div>
                        <div class="about-col">
                            <div class="image">
                                <img src="./images/cost.png">
                            </div>
                            <h3>Totally Free</h3>
                            <p>Blood Budyy's ultimate goal is to provide an easy -to-use, easy-to-access, fast, efficient,
                                and reliable way to get life-saving blood, totally <span>Free of cost.</span></p>
                        </div>
                        <div class="about-col">
                            <div class="image">
                                <img src="./images/save.png">
                            </div>
                            <h3>Save Life</h3>
                            <p>We are a non profit foundation and our main objective is to make sure that everything is done
                                to protect vulnerable persons.<span>Help
                                    us by making a gift!</span></p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>